.title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 30px auto 0 20px;
}

.genres {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 10000px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.genre_container_collapsed {
  transition: max-height .5s ease-in-out;
  max-height: 64px;
}

.genre_title {
  letter-spacing: 6px;
  margin: 20px 0 0 auto;
  font-size: 26px;
  font-weight: 600;
}

.genre_resize {
  width: 23px;
  height: 23px;
  margin: 22px auto 0 10px;
  border: none;
  cursor: pointer;
  background-image: url('../../../public/icons/collapse.svg');
  background-color: transparent;
  background-size: cover;
}

.genre_resize_collapsed {
  width: 23px;
  height: 23px;
  margin: 22px auto 0 10px;
  border: none;
  cursor: pointer;
  background-image: url('../../../public/icons/expand.svg');
  background-color: transparent;
  background-size: cover;
}

@media screen and (max-width: 650px) {
  .title {
    margin: 30px auto 10px;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}