@font-face {
  font-family: 'mermaid';
  src: url('../../../public/fonts/Mermaid1001.ttf');
}

@font-face {
  font-family: 'raleway-light';
  src: url('../../../public//fonts/Raleway-Light.ttf');
}

:root {
  background-color: #e9e9e9;
  color: #2d2d2d;
  padding: 5px 40px 0;
  font-family: 'raleway-light';
}
